<?xml version="1.0" encoding="utf-8"?>
<packages> 
  <package id="BrainAI" version="2.1.0" targetFramework="monoandroid90" />
  <package id="FaceUI" version="2.0.0" targetFramework="monoandroid90" />
  <package id="FaceUI.Content" version="2.0.0" targetFramework="monoandroid90" />
  <package id="LocomotorECS" version="1.1.0" targetFramework="monoandroid90" />
  <package id="MonoGame.Framework.Android" version="3.7.1.189" targetFramework="monoandroid71" />
</packages>