<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".json" />
            <remove fileExtension=".fnt" />
            <remove fileExtension=".atlas" />
            <remove fileExtension=".glsl" />
            <remove fileExtension=".tmx" />
            <remove fileExtension=".xnb" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".fnt" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".atlas" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".glsl" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".tmx" mimeType="text/plain" />
            <mimeMap fileExtension=".xnb" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
